.form-control{
    background-color: #f8f9fa;
    padding: 10px;
    padding: 15px 15px;
    margin-bottom: 1rem;
  }
  
  .form-control:focus {
  
      color: #000000;
      background-color: #ffffff;
      border: 3px solid #da5767;
      outline: 0;
      box-shadow: none;
  
  }